* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color:white;
color: black;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
  
}
.form-contents {
  background-color: rgb(40, 40, 40);
  color: rgb(207, 205, 205);

}
.todo-container {
  min-width: 30rem;
}


.input-field {
  background-color: rgb(42,42,42);
  color: aliceblue;
}

@media only screen and (max-width: 768px) {
  .form-container {
    max-width: 100%;
    display: block;
    height: 100vh;
    background-color: rgb(40, 40, 40);

  }
  .form-contents {
    padding: 2rem;
    min-width: 100%;
  }
 
}